<button class="btn button" (click)="getData('Total Users')">Get Total Users</button>
<button class="btn button" (click)="getData('Frequent Users')">Get Frequent Users</button>
<button class="btn button" (click)="getData('Unique Users')">Get Unique Users</button>

<img *ngIf="isLoading" src="/assets/images/spinner.gif" />
<p *ngIf="error">Something went wrong... Check console for more details.</p>
<div *ngIf="data && !error && !isLoading">
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="'cool'"
    [results]="data"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Timeline'"
    [yAxisLabel]="'Amount'"
    [autoScale]="true"
    [timeline]="true"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>