.container {
  position: relative;
  text-align: left;
  color: white;
  font-size: 40px;
  font-family: 'Indie Flower', arial, sans;
  color: #000000;
  padding: 2px;
 
  /* 'Open Sans Condensed */
}

* {
  margin: 0%;
}

@media only screen and (min-width: 600px) {
  p {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    padding: 50px;
  }
}

.bg {
  background: url('../../assets/images/index.png');
  filter: grayscale(200%);
  height: 20%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding-right: 2px;
  padding-left: 2px;
  overflow: hidden;
  background-color: #333;
  /* Make it stick, even on scroll, not the while width */
  /* position: fixed; */
  /* Enable scrolling if the sidenav has too much content */
  overflow: auto;
}

li {
  float: left;
}

.contact {
  float: right;
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
} */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding: 15px;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 20px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  min-width: 160px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


