<!-- <div class="container">
  <div class="bg">
    <p>prompt graphs</p>
  </div>
  <nav>
  <ul>
    <li><a routerLink="/users">Users</a>
    <li><a routerLink="/maintenancePlans">Maintenance Plans</a></li>
    <li><a routerLink="/quotations">Quotations</a></li>
  </ul>
</nav> -->

<body>

    <div class="bg">
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Users 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/users']" [queryParams]="{option: 'Total Users'}" queryParamsHandling="merge">Total</a>
          <a [routerLink]="['/users']" [queryParams]="{option: 'Frequent Users'}">Frequent</a>
          <a [routerLink]="['/users']" [queryParams]="{option: 'Unique Users'}">Unique</a>
        </div>
      </div> 

      <div class="dropdown">
          <button class="dropbtn">Maintenance Plans 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/maintenancePlans']" [queryParams]="{option: 'Total MP'}" queryParamsHandling="merge">Total</a>
            <a href="#">Frequent</a>
            <a href="#">Unique</a>
          </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Quotations
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Total</a>
              <a href="#">Frequent</a>
              <a href="#">Unique</a>
            </div>
          </div>
    </div>
  </div>
</body>
