<button class="btn button" (click)="getData('Total MP')">Total MP</button>
<!-- <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> -->
<div *ngIf="data && !error && !isLoading">
    
    <ngx-charts-line-chart
        [view]="view"
        [scheme]="'cool'"
        [results]="data"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Timeline'"
        [yAxisLabel]="'Amount'"
        [autoScale]="true"
        [timeline]="true"
        (select)="onSelect($event)">
    </ngx-charts-line-chart>
</div>
